snap/
__pycache__/
anaconda3/
.EasyOCR/
.bash_history
.bash_logout
.bashrc
.cache/
.conda/
.config/
.dotnet/
.ipython/
.lesshst
.local/
.motd_shown
.pki/
.profile
.ssh/
.sudo_as_admin_successful
.vscode-server/
.wget-hsts